@font-face {
  font-family: "iconfont"; /* Project id 4825916 */
  src: url('iconfont.woff2?t=1740373753024') format('woff2'),
       url('iconfont.woff?t=1740373753024') format('woff'),
       url('iconfont.ttf?t=1740373753024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e637";
}

.icon-chat_emoji_icon:before {
  content: "\e62e";
}

.icon-icon_folder:before {
  content: "\e646";
}

.icon-icon_more:before {
  content: "\e603";
}

.icon-icon-top:before {
  content: "\e605";
}

.icon-icon-plane:before {
  content: "\e754";
}

.icon-icon-add-group:before {
  content: "\e64b";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-more2:before {
  content: "\e689";
}

