@font-face {
  font-family: "iconfont"; /* Project id 4825916 */
  src: url('iconfont.woff2?t=1743048003285') format('woff2'),
       url('iconfont.woff?t=1743048003285') format('woff'),
       url('iconfont.ttf?t=1743048003285') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e662";
}

.icon-icon_chat:before {
  content: "\e600";
}

.icon-iconemail:before {
  content: "\e610";
}

.icon-icon_checkcode:before {
  content: "\e7cc";
}

.icon-icon-password:before {
  content: "\e607";
}

.icon-add:before {
  content: "\e64d";
}

.icon-icon-woman:before {
  content: "\e627";
}

.icon-icon-man:before {
  content: "\e639";
}

.icon-icon-folder:before {
  content: "\e908";
}

.icon-icon-about:before {
  content: "\e686";
}

.icon-HG-icon-user-settings-line:before {
  content: "\e618";
}

.icon-search:before {
  content: "\e637";
}

.icon-chat_emoji_icon:before {
  content: "\e62e";
}

.icon-icon_folder:before {
  content: "\e646";
}

.icon-icon_more:before {
  content: "\e603";
}

.icon-icon-top:before {
  content: "\e605";
}

.icon-icon-plane:before {
  content: "\e754";
}

.icon-icon-add-group:before {
  content: "\e64b";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-more2:before {
  content: "\e689";
}

